@import "base/mixins"
@import "base/variables"
@import "blocks/promo"
@import "blocks/header"
@import "blocks/buttons"
@import "blocks/label"
@import "blocks/descr"
@import "blocks/title"
@import "blocks/reasons"
@import "blocks/consultation"
@import "blocks/form"
@import "blocks/carousel"
@import "blocks/catalog"
@import "blocks/reviews"
@import "blocks/media"
*
    box-sizing: border-box
    font-family: 'Museo Sans Cyrl', sans-serif
.container
    position: relative
    width: 950px
    margin: 0 auto